# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
    # Notepad Core Actions
    'ctrl-cmd-n': 'notebook:new-notepad'
    'ctrl-cmd-o': 'notebook:open-notepads'
    'ctrl-cmd-x': 'notebook:close-notepads'
    'ctrl-cmd-r': 'notebook:delete-notepad'
    'ctrl-cmd-z': 'notebook:purge-notepads'

    # Notepad Convenience Actions
    'ctrl-cmd-s': 'notebook:save-to-project'